
body {
    --body-color:rgb(20, 24, 36);
    --secondary-color:rgb(151, 151, 151);
    --primary:rgb(0, 130, 252);
    --primary-soft:rgb(229, 243, 255);
    --succes: rgb(113, 194, 25);
    --warning: rgb(229, 45, 35);
    --background-color: rgb(248, 248, 248);
    --background-accent: white;


    background-color: var(--background-color);
    color: var(--body-color);
    margin: 0px;
}

.main-grid {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 30px 1fr 1fr;
}


