
.parameters-wrapping {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    justify-content: left;
    background-color: var(--background-accent);
    padding: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.sub-header {
    display: inline-block;
    background-color: var(--background-accent);
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 18px;
    color: var(--body-color);
}

.clear-button {
    display: inline-block;
    color: var(--secondary-color);
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    cursor:pointer;
    margin-left: 35px;
    margin-right: 0;
    transition: color border background-color 0.15s;
}

.clear-button:hover {
    color: var(--warning);
    border: 1px solid var(--warning);
}

.clear-button:active {
    color: white;
    border: 1px solid var(--warning);
    background-color: var(--warning);
}

.mini-header {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: Arial;
    color: var(--primary);
}

.function-text {
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 5px;
}

.function-input {
    display: flex;
    font-family: Arial;
    font-size: small;
    margin-top: 10px;
    font-size: 15px;
}

.number-input {
    width: 3em;
    border: 1px solid;
    border-color: var(--secondary-color);
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
}