
.results-wrapper {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    justify-content: left;
    background-color: var(--background-accent);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 0;
    vertical-align: top;
}
