<!DOCTYPE html>

<html>

  <head>
		<title>Simulaciones ECO</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  </head>

  <body>

		<div class = "parameters-wrapping">
			<div class="main-header">
				<h1 >Tarifa en dos partes</h1>
			</div>
			<div class = "subsection-heading">
				<h3 class = "side-bar-header">	Parámetros </h3>
				<button class = "clear-button" onclick="location.href = '/'" type="button"> reset</button>

			</div>
			<div>
				<form method= "post">
					<h4 class = "mini-header"> Demanda </h4>

					<div class="function-input">
						<p class="function-text">	qa = </p>
						<input class= "number-input" id="constant_1" name ="constant_1" inputmode="numeric" maxlength="4">
						<p class="function-text"> + </p>
						<input class= "number-input" id = "slope_1" name = "slope_1" inputmode="numeric" maxlength="3"> 
						<p class="function-text"> x pa </p>
					</div>

					<div class="function-input">
						<p class="function-text">	qb = </p>
						<input class= "number-input" id = ""constant_2 ="constant_2" inputmode="numeric" maxlength="4">
						<p class="function-text"> + </p>
						<input class= "number-input" id="slope_2" name = "slope_2" inputmode="numeric" maxlength="3"> 
						<p class="function-text"> x pb </p>
					</div>

					<div class="function-input">
						<p class="function-text">	N° Clientes: </p>
						<input class= "parameter-input" id="numero_clientes" name = "numero_clientes" type="number" value="2" min = "2" >
					</div>

					<div class="function-input">
						<p class="function-text">	Proporción: </p>
						<input class= "parameter-input" id="proporcion" name="proporcion" type="number" value="0.5" step="0.1" min="0" max="1">
					</div>

					<h4 class = "mini-header"> Costos </h4>

					<div class="function-input">
						<p class="function-text">	Costo Fijo: </p>
						<input class= "parameter-input" id="costo_fijo" name ="costo_fijo" type="number" value="0" min="0" step="100">
					</div>

					<div class="function-input">
						<p class="function-text">	Costo Marginal: </p>
						<input class= "parameter-input" id ="costo_marginal" name= "costo_marginal" type="number" value="1" min="0">
					</div>
					</br>
					<div class="botton-holder">
						<input type="submit" class="generate-results-button" value="Submit">
						<button class="generate-results-button" onclick="location.href = '/results'" type="button"> Solución</button>
					</div>
				</form>
			</div>

		</div>

		<div class="main-grid">
			<div class = "results-wrapper">
				<h3 class = "sub-header"> Resultados</h3>
				<div class = "sub-results-wrapper">
					<div class = "tariff-wrapper">
						<h5 class = "tariff-header"> Tarifa </h5>
						<p class="results-text"> Cargo Fijo A: ${{data['CFa']}}</p>
						<p class="results-text"> Precio unitario A: ${{data['Pa']}}</p>
						<p class="results-text"> Cargo Fijo B: ${{data['CFb']}}</p>
						<p class="results-text"> Precio unitario B: ${{data['Pa']}}</p>

					</div>
					<div class = "demand-wrapper">
						<h5 class = "demand-header"> Cantidad demandada </h5>
						<p class="results-text"> Total: </p>
						<p class="results-text"> Cliente de demanda alta: {{data['qa']}}</p>
						<p class="results-text"> Cliente de demanda baja: {{data['qb']}}</p>
					</div>
					<div class = "costs-wrapper">
						<h5 class = "costs-header"> Costos </h5>
						<p class="results-text"> Totales: $</p>
						<p class="results-text"> Fijos: $</p>
						<p class="results-text"> Variables: $</p>
						<p class="results-text"> Medio: $</p>
					</div>
					<div class = "benefits-wrapper">
						<h5 class = "benefits-header"> Beneficios </h5>
						<p class="results-text"> Totales: $  {{data['beneficios']}}</p>
						<p class="results-text"> Clientes de demanda alta:</p>
						<p class="results-text"> $ </p>
						<p class="results-text"> Clientes de demanda baja: </p>
						<p class="results-text"> $ </p>
					</div>
				</div>
			</div>

			<div class = "graph-wrapper">
				<h3 class = "sub-header"> Gráfico</h3class> 
			</div>

			<div class = restrictions-wrapper>
				<h3 class = "sub-header"> Restricciones</h3class> 
			</div>

		</div>

  </body>

</html>