
.parameters-wrapping {
    position: fixed;
    top:0;
    bottom: 0;
    background-color: var(--background-accent);
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-left: 50px;
    margin-top: 0;
}

.main-header {
    background-color: var(--background-accent);
    margin-top: 0px;
    border-bottom: 1px solid var(--background-color);
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 75px;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
}

.side-bar-header {
    display: inline-block;
    background-color: var(--background-accent);
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    color: var(--body-color);

}

.clear-button {
    display: inline-block;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    cursor:pointer;
    margin-left: 60px;
    margin-right: 0;
    transition: color border background-color 0.15s;
}

.clear-button:hover {
    color: var(--warning);
    border: 1px solid var(--warning);
}

.clear-button:active {
    color: white;
    border: 1px solid var(--warning);
    background-color: var(--warning);
}

.mini-header {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: var(--primary);
}


.function-input {
    display: flex;
    font-family: Arial;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
}

.function-text {
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 5px;
}

.number-input {
    width: 3em;
    border: 1px solid;
    border-color: var(--secondary-color);
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
}

.botton-holder {
    display: flex;
    justify-content: end;
}
.generate-results-button {
    display: inline-block;
    color: white;
    background-color: var(--primary);
    font-weight: bold;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    transition: opacity 0.15s;
    cursor:pointer;
    margin-top: 35px;
}

.generate-results-button:hover {
    opacity: 0.8;
}

.generate-results-button:active {
    opacity: 0.5;
}