.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(215px, 1fr));
    margin-left: 362px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    gap: 15px;
    
}

.results-wrapper {
    grid-column: span 4;
    background-color: var(--background-accent);
    padding: 25px;
    border-radius: 25px;
}

.sub-results-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px ,1fr));
    gap: 10px;
    vertical-align: top;
}

.sub-results-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(215px,1fr));
    gap: 10px;
}

.tariff-wrapper {
    background-color: var(--primary-soft);
    padding: 25px;
    border-radius: 25px;
}

.demand-wrapper {
    background-color: var(--info-soft);
    padding: 25px;
    border-radius: 25px;
}

.costs-wrapper {
    background-color: var(--warning-soft);
    padding: 25px;
    border-radius: 25px;
}

.benefits-wrapper {
    background-color: var(--succes-soft);
    padding: 25px;
    border-radius: 25px;
}

.graph-wrapper {
    grid-column: span 2;
    background-color: var(--background-accent);
    padding: 25px;
    border-radius: 25px;
}

.restrictions-wrapper {
    grid-column: span 2;
    justify-content: left;
    background-color: var(--background-accent);
    padding: 25px;
    border-radius: 25px;
}
